body {
  padding: 0;
  margin: 0;
  font-family: fantasy;
  font-style: italic;
  font-size: medium;
  font-size: 50px;
  color: #3498db;
  /* background: linear-gradient(to right, #1f2224, #2d3330); */
  background-color: rgb(39, 41, 41);
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
}
h3 {
  text-align: center;
  justify-content: center;
  margin: 0%;
}
span {
  text-align: center;
  justify-content: center;
  font-size: 25px;
}
.msg {
  padding: 12px;
  color: #222;
  line-height: 1.2;
  border-left: 6px solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
}
.msg,
.msg-purple {
  background-color: #e1d1f1;
  border-color: #ad82da;
  color: #ad82da;
}
.msg-red {
  background-color: #f7c6c4;
  border-color: #ec6f69;
  color: #e6443c;
}
.msg-blue {
  background-color: #bce3fc;
  border-color: #5abaf8;
  color: #5abaf8;
}
.btn {
  font-size: 20px;
  line-height: 36px;
  width: 100%;
  height: 40px;
  color: #fff;
  padding: 0 24px;
  text-align: center;
  background-color: #534a5c;
  vertical-align: middle;
  border: 0;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  border-radius: 4px;
}
input[type="number"] {
  border: 2px solid #ccc;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  color: #444;
  vertical-align: middle;
  padding: 6px 10px;
  outline: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  width: 95%;
  height: 36px;
  line-height: 1;
}
.hide {
  display: none;
}
